<div
    class="fixed top-0 w-full z-30 transition-all"
    x-data="{ isAtTop: false }"
    :class="{ 'border-b border-gray-200 bg-white/50 backdrop-blur-xl': isAtTop, 'bg-white/0': !isAtTop }"
    @scroll.window="isAtTop = window.pageYOffset > 50"
>
    <slot />
</div>
