---
export interface Props {
    content?: string
}

const { content }: Props = Astro.props
---

<!--
<script is:raw>
   function initTooltip() {
     return {
       isOpen: false,
       isMobile: false,
       isDesktop: false,
       updateIsMobile: function() {
        this.isMobile = typeof window.innerWidth === "number" && window.innerWidth < 768;
        this.isDesktop = typeof window.innerWidth === "number" && window.innerWidth >= 768;
       },
     }
   }
</script>
-->
<!-- one of them is an imposter :) (joke, both of them don't work) -->
<div class="inline group">
    <slot />
    <div class="invisible group-hover:visible absolute z-10 space-y-1 bg-gray-900 text-gray-50 text-sm rounded px-4 py-2 w-full max-w-xs shadow-md" role="tooltip" aria-hidden="true">
        {content}
    </div>
</div>
<div class="inline group">
    <slot />
    <div class="absolute z-10 invisible group-hover:visible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700">
        {content}
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
</div>
