---
import config from "@/lib/config";
import Icon from "../shared/Icon.astro";

const mySocials: { name: string; icon: string; link: string }[] = [
  { name: "GitHub", icon: "github", link: config.linkTo.gitHub },
  { name: "Discord", icon: "discord", link: config.linkTo.discord },
  { name: "Telegram", icon: "telegram", link: config.linkTo.telegram },
  { name: "Email", icon: "email", link: config.linkTo.email },
];
---

{
  mySocials.map(({ name, icon, link }) => (
    <a
      class="flex max-w-fit items-center justify-center space-x-2 rounded-full border border-gray-300 bg-white px-3 py-2 text-sm text-gray-600 shadow-md transition-colors hover:border-gray-800"
      href={link}
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name={icon} />
      <p class="hidden md:block">My {name}</p>
    </a>
  ))
}
