@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/modern';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html,
body {
	height: 100%;
	overflow: hidden;
}

.btn-disabled {
	pointer-events: none;
	cursor: not-allowed !important;
	opacity: 0.5 !important;
}

.anchor {
	text-decoration-line: underline;
}

.tooltip {
	position: absolute;
	visibility: hidden;
}

.has-tooltip:hover .tooltip {
	z-index: 50;
	visibility: visible;
}
